.head{
    height:20vh;
    display: flex;
    align-items: center;
    
}
.Tesla img{
    height:100px ;
    width: 100px;
    justify-content: space-between;
    margin: 0px 0 0 30px;
}
nav{
   
    top:55px;
    position: absolute;
    justify-content: space-between;
    Right: 50px;
    
}
nav li{
     
    display: inline;
    margin-top: 50px;
    margin-right: 40px;
     
}
nav li a{
    font-weight: 400;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    color: white;
}